@import "theme.scss";
@import "layout.scss";
@import "breakpoints.scss";

// Dancy script font for logo
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

body
{
    font-family: 'Yeon Sung', cursive;
}

p
{
    font-size: 1.2em;
}

#app
{
    background: var(--color-background);
    color: var(--color-foreground);

    min-height: 100vh;
}

.underline h1
{
    margin-bottom: 0.2em;
    padding: 0 1em;
}