@import "theme.scss";
@import "layout.scss";
@import "breakpoints.scss";

// Dancy script font for logo
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

body
{
    font-family: 'Yeon Sung', cursive;
}

p
{
    font-size: 1.2em;
}

#app
{
    background: var(--color-background);
    color: var(--color-foreground);

    min-height: 100vh;
}

.underline h1
{
    margin-bottom: 0.2em;
    padding: 0 1em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius: 5px;
    background: red; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }

  .about .text-image-side-by
  {
    // Let box shadow come out
    .col { overflow: visible; }

    img 
    {
      border-radius: 2em;
      box-shadow: 0 0 1em red;
    }
  }