textarea.codebox {
  width: 100%;
  height: 12em;
  background: $color-background-dark;
  font-family: monospace;
  font-size: 1.3em;
  color: $color-foreground;
  padding: 0.5em;
  resize: none;
}

code {
  padding: 0.2em;
  background: rgba(0, 0, 0, 0.2);
}
